extends ../layout.pug

block content
  h2.text-center Museums List

  <!-- DELETE CODE BELOW THIS LINE -->
  <p>TODO: Add a forEach loop and show the names of all museums</p>
  <p>The name should be a link to the museum show page</p>
